name: PDF
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Compile
        uses: xu-cheng/texlive-action@v3
        with:
          scheme: full
          run: |
            latexmk -pdf PICCOLLECTION.tex
            latexmk -pdf DAMPER.tex
      - name: Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: DAMPER.pdf
          asset_name: DAMPER.pdf
          tag: latest
          overwrite: true
